.box {
  width: 100%;
  padding: 10%;
  background-color: $white;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 52px -13px $black-50-color;
  -moz-box-shadow: 0 0 52px -13px $black-50-color;
  box-shadow: 0 0 52px -13px $black-50-color;

  &.listing {
    padding: 0;
    table {
      img {
        height: 15px;
        margin-left: 15px;
      }

      p {
        color: $white;
        font-size: 12px;
        letter-spacing: 0.05em;
      }

      tr {
        cursor: pointer;

        td {
          border-top: 1px solid $black;
        }
      }
    }
  }
}

.wind-speed, .humidity, .summary {
  margin-left: 10px;
}

.temperature {
  text-transform: uppercase;
  font-size: 3em;
}

.icon-summary {
  height: 90px;
}

.icon-windspeed {
  height: 30px;
}
